<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="estilos.css">
    <title>Practica final</title>
</head>
<body>
<div class="content">
    <div class="cabecera">
        <h1>D.A.W.</h1>
        <p>diseño aplicaciones web</p>
        <p>Sitio creado por <b>Daniel Buendia</b>.</p>
    </div>
    <div class="cabecera2">

    </div>
</div>
<div class="content">
    <div class="navbar">
        <a href="./index.html">INICIO</a>
        <a href="./pag1.html">DIW</a>
        <a href="./pag2.html">LM</a>
        <a href="./pag3.html">DWES</a>
        <a href="./pag4.html">DWEC</a>
    </div>
</div>
<div class="content">
    <div class="izquierda">
        <h3>Area de usuarios</h3>
        <div class="form">
            <p class="centrado">Nick</p>
            <p class="centrado"><input type="text"></p>
            <p class="centrado">Contraseña</p>
            <p class="centrado"><input type="password"></p>
            <p class="centrado"><input type="submit" value="Acceder" class="btns"></p>
        </div>
        <h3>Mis cursos</h3>
        <div class="cursos">
            <ul>
                <li>DIW</li>
                <li><a href="./pag1.html" class="enlaces">Diseño de Interfaces Web</a></li>
                <li>DWES</li>
                <li><a href="./pag3.html" class="enlaces">Diseño Web en Entorno Servidor</a></li>
                <li>LM</li>
                <li><a href="./pag2.html" class="enlaces">Lenguaje de Marcas</a></li>
                <li>DEWC</li>
                <li><a href="./pag4.html" class="enlaces">Diseño Web en Entorno Cliente</a></li>

            </ul>
        </div>
    </div>
    <div class="centro">
        <h2 class="centrado">DAW - Diseño de Aplicaciones Web</h2>
        <div class="contentTitles">
            <div class="titles">
                <h5>Bienvenidos a DAW, Diseño de Aplicaciones Web <span style="float: right;">Dic, 10, 2018</span></h5>
            </div>
            <div class="paddin">
            <p>Bienvenidos a esta página web dónde podrás ver el temario de todas las asignaturas que se imparten en DAW.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi labore natus sint. Dolore eos ex maxime natus provident quasi quia saepe ullam velit, voluptas. Distinctio fuga ipsa qui repudiandae ullam.</p>
            <p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>ebitis ipsam maiores officiis voluptatum! Aliquam commodi hic molestiae possimus similique suscipit voluptate. Ad asperiores ducimus enim facilis ipsam ipsum laudantium quos?</li>
            </ul>
            </p>
            <p class="centrado">
                <img src="daw.png" alt="" align="">
            </p>
                <div class="autor">Publicado por: <a href="" class="enlaces">Daniel</a></div>
            </div>
        </div>
        <div class="contentTitles">
        <div class="titles">
            <h5>Fechas exámenes<span style="float: right;">Dic, 10, 2018</span></h5>

        </div>
            <div class="paddin">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, amet ducimus excepturi iure laboriosam obcaecati quia sequi similique sunt tempore. Aperiam, consequatur illum ipsam laudantium minus nihil rerum tenetur voluptatum.</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate deleniti earum excepturi facere fugiat modi, molestias porro provident reprehenderit similique? Ad deleniti eaque error eveniet expedita, fugiat recusandae reprehenderit voluptate.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorum et, facilis, fugiat illo iste maiores nostrum numquam odio odit pariatur quisquam quo reiciendis repellendus soluta, totam vel! Officiis, ut.
                </p>
                <p>DIW</p>
                <p>
                <ul>
                    <li>Miercoles, 26 de Enero</li>
                </ul>
                </p>
                <p>LM</p>
                <p>
                <ul>
                    <li>Miercoles, 26 de Enero</li>
                </ul>
                </p>
                <div class="autor">Publicado por: <a href="" class="enlaces">Daniel</a></div>
            </div>
        </div>
    </div>
    <div class="derecha justificado">
        <h2>Información adicional</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium impedit modi mollitia perspiciatis quia. Ab assumenda at, beatae doloribus esse hic natus numquam omnis pariatur praesentium quis quod repellendus similique?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet autem cum ducimus eum hic illo in ipsa, iure modi nobis, quas quasi qui reprehenderit similique tenetur vel vero voluptatum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci, aliquam atque cumque distinctio dolorem dolorum, earum eius incidunt iste iusto labore maxime nam nemo nesciunt pariatur, quisquam repellendus rerum.
        <ul>
            <li>Lorem 1 lorem</li>
            <li>Lorem 2 lorem</li>
            <li>Lorem 3 lorem</li>
        </ul>
        </p>

    </div>
</div>
<div class="titFooter">
    <h3>D.A.W.</h3>
    <h5>diseño aplicaciones web</h5>
</div>

<div class="footer">

    <h6>Copyright &copy; 2018 Daniel Buendia. Todos los derechos reservados. Diseñado por <a href="mailto:danielbuendiasmr@gmail.com?Subject=Hello%20again" class="enlaces">danielbuendiasmr@gmail.com</a>.</h6>
</div>

</body>
</html>